 
.containerSearch{
    margin: 30px 20px 20px 20px;
    position: relative;
} 
.inputSearch{
    height: 40px;
    border-radius: 50px;
    width: 100%;
    border: none;
    padding: 5px 10px;
    background-color: #474b4e ;

}
.inputSearch::placeholder{
    color: #c6c6c6;

}

.icon{
    position: absolute;
    width: 20px;
    right: 20px;
    top: 10px;
}